{% extends "_base.html" %}

{% block page_title %}Новий пароль | Callme БухгалтеріяUA{% endblock %}

{% block content %}

<section class="uk-section">
    <div class="uk-container">
        <h1 class="uk-h3 uk-text-center">Новий пароль</h1>
        <div class="uk-flex uk-flex-middle uk-flex-column">
            <div class="uk-card uk-card-default uk-card-body uk-border-rounded uk-width-large">
                {% if form.errors %}
                {% for error in form.non_field_errors %}
                <div class="uk-text-danger">
                    <span uk-icon="warning" class="uk-margin-small-right"></span><strong>{{ error|escape }}</strong>
                </div>
                {% endfor %}
                {% endif %}
                <form method="post" class="uk-form-stacked">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="uk-margin">
                        <label class="uk-form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                        <div class="uk-form-controls">
                            {{ field }}
                        </div>
                        {% for error in field.errors %}
                        <div class="uk-text-danger">
                            <span uk-icon="warning" class="uk-margin-small-right"></span><strong>{{ error|escape }}</strong>
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                    <div class="uk-text-center">
                        <button class="uk-button uk-border-rounded uk-button-default" type="submit">Зберегти</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}