{% extends '_base.html' %}

{% block page_title %}Відновлення паролю | Callme БухгалтеріяUA{% endblock %}

{% load static %}

{% block content %}
<section class="uk-section">
    <div class="uk-container">
        <h1 class="uk-h3 uk-text-center">Відновлення паролю</h1>
        <div class="uk-flex uk-flex-middle uk-flex-column">

            <div class="uk-card uk-card-default uk-card-body uk-border-rounded uk-width-xlarge uk-text-justify">
                <p>Якщо вказаний щойно email є серед користувачів нашого ресурсу, на нього за декілька хвилин надійде лист з посиланням на встановлення нового паролю.</p>
                <p>Лист міг потрапити до папки СПАМ, тож радимо перевірити і її.</p>
                <center>
                    <img class="uk-width-medium  uk-animation-scale-up" src="{% static '/pictures/trashcan.png' %}" alt="Лист у кошику">
                </center>
            </div>
        </div>
    </div>
</section>
{% endblock %}