<a class="uk-button uk-button-default uk-button-small uk-border-pill" href="#modal-overflow" uk-toggle>Правила</a>

<div id="modal-overflow" uk-modal>
    <div class="uk-modal-dialog">

        <button class="uk-modal-close-default" type="button" uk-close></button>

        <div class="uk-modal-header">
            <h2 class="uk-modal-title">Правила роботи<br>Сервісу оперативного консультування</h2>
        </div>

        <div class="uk-modal-body" uk-overflow-auto>
            <p style="text-align:justify"><strong>1. </strong>Сервіс оперативного консультування (далі &ndash; Сервіс ОК) надає послугу з термінового телефонного професійного консультування з питань господарської діяльності підприємств, установ та організацій, фізичних осіб &ndash; підприємців та самозайнятих осіб, а також подібних тем.</p>
        
            <p style="text-align:justify"><strong>2. </strong>Терміни, які вживаються у цих Правилах:</p>
            
            <p style="text-align:justify"><strong>2.1. </strong>Надавач Послуги &ndash; Товариство з обмеженою відповідальністю &laquo;Інфоліга&raquo;, яке організовує роботу Сервісу ОК та взаємодіє щодо цього з Клієнтами.</p>
            
            <p style="text-align:justify"><strong>2.2. </strong>Послуга &ndash; термінова консультація професійного характеру, яку надають у телефонному режимі Консультанти Надавача Послуги з питань господарської діяльності, податкового та бухгалтерського обліку, юридичних питань, кадрового обліку.</p>
            
            <p style="text-align:justify"><strong>2.3. </strong>Клієнт &ndash; юридична чи фізична особа (зокрема, фізична особа &ndash; підприємець, самозайнята особа), яка оплатила Абонемент і має право користуватися послугою Сервісу ОК.</p>
            
            <p style="text-align:justify"><strong>2.4. </strong>Абонемент &ndash; право на користування Послугою на умовах цих Правил.</p>
            
            <p style="text-align:justify"><strong>2.5. </strong>Консультант &ndash; представник редакції журналів &laquo;БухгалтеріяUA&raquo; та &laquo;АгроUA&raquo;, &laquo;БухгалтеріяUA. Тематичний збірник&raquo;, який має актуальні знання, достатній професійний і практичний досвід, навички для надання Послуги Клієнтам.</p>
            
            <p style="text-align:justify"><strong>2.6. </strong>Оператор &ndash; представник Надавача Послуги, який здійснює приймання телефонних дзвінків Клієнтів.</p>
            
            <p style="text-align:justify"><strong>3. </strong>Порядок надання Послуги:</p>
            
            <p style="text-align:justify"><strong>3.1. </strong>Клієнт, який бажає мати Абонемент, оплачує його та реєструється Надавачем Послуги з присвоєнням індивідуального номера (номер телефону). Оплата Абонемента здійснюється за принципом &laquo;100%-передоплата&raquo; за тарифами, визначеними та заздалегідь публічно оприлюдненими Надавачем Послуги. Абонемент на календарний місяць включає 6 (шість) Послуг. Оплатою Абонемента Клієнт підтверджує ознайомлення з цими Правилами та погоджується з ними. Плата за невикористані Послуги Абонемента не повертається.</p>
            
            <p style="text-align:justify"><strong>3.2. </strong>Клієнт, який бажає отримати Послугу, телефонує на &laquo;гарячу лінію&raquo; Сервісу ОК за номером: <u>0-800-50-29-60</u>. Послуга надається у вівторок, середу, четвер (за умови, що це не святковий чи вихідний день, або Надавач Послуги заздалегідь публічно не застеріг, що цього дня Сервіс ОК не працює) з 11.00 до 13.00.</p>
            
            <p style="text-align:justify"><strong>3.3. </strong>Клієнт називає Оператору свій індивідуальний номер та тему, з якої бажає отримати Послугу.</p>
            
            <p style="text-align:justify"><strong>3.4. </strong>За умови, що Клієнт має чинний Абонемент, що перевіряється Оператором, та в цей час можливе консультування з відповідної теми, Клієнта з&rsquo;єднують із Консультантом, який надає Послугу.</p>
            
            <p style="text-align:justify"><strong>3.5. </strong>Стандартний пакет тем, з яких надається Послуга:</p>
            
            <p style="text-align:justify"><strong>3.5.1. </strong>податок на прибуток, бухгалтерський облік;</p>
            
            <p style="text-align:justify"><strong>3.5.2. </strong>оподаткування ПДВ;</p>
            
            <p style="text-align:justify"><strong>3.5.3.</strong> кадри, оплата праці, ЄСВ, ПДФО, військовий збір, лікарняні / декретні;</p>
            
            <p style="text-align:justify"><strong>3.5.4. </strong>єдиний податок;</p>
            
            <p style="text-align:justify"><strong>3.5.5. </strong>єдиний податок для сільгоспвиробників;</p>
            
            <p style="text-align:justify"><strong>3.5.6. </strong>підприємці;</p>
            
            <p style="text-align:justify"><strong>3.5.7. </strong>ЗЕД (зовнішньоекономічна діяльність);</p>
            
            <p style="text-align:justify"><strong>3.5.8. </strong>відрядження;</p>
            
            <p style="text-align:justify"><strong>3.5.9. </strong>акцизний податок, пальне;</p>
            
            <p style="text-align:justify"><strong>3.5.10.</strong> алкогольно-тютюнове регулювання;</p>
            
            <p style="text-align:justify"><strong>3.5.11.</strong> РРО, каса, торгівля;</p>
            
            <p style="text-align:justify"><strong>3.5.12.</strong> плата за землю;</p>
            
            <p style="text-align:justify"><strong>3.5.13.</strong> перевірки, відповідальність, договірні відносини;</p>
            
            <p style="text-align:justify"><strong>3.5.14.</strong> податок на майно;</p>
            
            <p style="text-align:justify"><strong>3.5.15</strong>. екологічний податок, рентна плата;</p>
            
            <p style="text-align:justify"><strong>3.5.16.</strong> туристичний збір;</p>
            
            <p style="text-align:justify"><strong>3.5.17.</strong> неприбуткові організації.</p>
            
            <p style="text-align:justify"><strong>3.6. </strong>У разі неможливості надання відповіді з певної теми зі стандартного пакета в конкретний день, Надавач Послуги інформує заздалегідь про це шляхом повідомлення на вебсторінці: <a href="https://callme.buh-ua.com.ua">https://callme.buh-ua.com.ua</a>, а також про це інформує Клієнта Оператор, який прийме дзвінок Клієнта.</p>
            
            <p style="text-align:justify"><strong>3.7. </strong>Якщо відповідна тема не відкликана у конкретний день, але усі консультанти щодо неї в цей час зайняті, Оператор пропонує Клієнту зателефонувати пізніше або Клієнт залишає номер телефону, за яким із ним можна зв&rsquo;язатися для надання Послуги (у робочий час, на умовах і тривалістю, як при з&rsquo;єднанні з Консультантом в робочі години Сервісу ОК).</p>
            
            <p style="text-align:justify"><strong>3.8. </strong>Послуга надається на таких умовах:</p>
            
            <p style="text-align:justify"><strong>3.8.1. </strong>запитання має &nbsp;бути конкретним і стосуватися обраної теми;</p>
            
            <p style="text-align:justify"><strong>3.8.2. </strong>тривалість надання однієї Послуги (консультації) &ndash; до 10 хв;</p>
            
            <p style="text-align:justify"><strong>3.8.3. </strong>консультант надає лаконічні відповіді по суті поставлених запитань, у разі можливості &ndash; із посиланням на відповідні публікації журналів &laquo;БухгалтеріяUA&raquo; та/або &laquo;АгроUA&raquo;, &laquo;БухгалтеріяUA. Тематичний збірник&raquo;;</p>
            
            <p style="text-align:justify"><strong>3.8.4. </strong>клієнт може ставити уточнюючі запитання, якщо вони стосуються первісно поставленого і не порушують часового обмеження Послуги.</p>
            
            <p style="text-align:justify"><strong>3.9. </strong>Якщо Консультант вважає, що поставлене питання не відповідає його темі, або надання на нього відповіді не передбачено цими Правилами, або відповідь на нього може бути надана тільки після попередньої підготовки і письмово, він попереджає про це Клієнта і, залежно від обставин, відмовляє в наданні Консультації. або пропонує звернутися на Сервіс ОК з іншої теми, або пропонує отримати у Надавача Послуги платну письмову консультацію, яка не охоплюється Абонементом і умови надання якої обговорюються Клієнтом та Надавачем Послуги в індивідуальному порядку. У такому разі, за відсутності відповіді Консультанта по суті поставленого запитання Клієнта, про що останнього було попереджено, використання Послуги в рамках Абонемента не зараховується.</p>
            
            <p style="text-align:justify"><strong>3.10. </strong>Консультації в рамках Абонемента Сервісу ОК не надаються, якщо Клієнт уже використав усі Послуги в межах свого оплаченого Абонементу або якщо запитання Клієнта:</p>
            
            <p style="text-align:justify"><strong>3.10.1.</strong> не стосуються заявлених Надавачем Послуг тем;</p>
            
            <p style="text-align:justify"><strong>3.10.2.</strong> потребують складання чи заповнення певних документів, тієї чи іншої звітності;</p>
            
            <p style="text-align:justify"><strong>3.10.3. </strong>&nbsp;потребують складання бухгалтерських проводок;</p>
            
            <p style="text-align:justify"><strong>3.10.4.</strong> стосуються законодавства іноземних держав або міжнародного законодавства, яке не ратифіковано Україною;</p>
            
            <p style="text-align:justify"><strong>3.10.5.</strong> стосуються використання програмного забезпечення, включно зі спеціалізованим та професійним;</p>
            
            <p style="text-align:justify"><strong>3.10.6.</strong> потребують здійснення розрахунків.</p>
            
            <p style="text-align:justify"><strong>3.11. </strong>З метою покращення надання Послуг в рамках Сервісу ОК телефонне спілкування Клієнта з Оператором та Консультантом може бути записано засобами аудіозв&rsquo;язку.</p>
            
            <p style="text-align:justify"><strong>4. </strong>В інші години протягом робочого дня Надавача Послуг (з 9.00 до 11.00 та з 14.00 до 18.00) запитання Клієнтів приймаються у телефонному режимі за допомогою Операторів Надавача Послуг. Надавач Послуг не гарантує щодо таких запитань обов&rsquo;язкового надання відповідей у рамках Сервісу ОК, але залишає за собою право запропонувати Клієнту отримання письмової консультації в індивідуальному порядку, або використати під час підготовки планів публікацій журналів &laquo;БухгалтеріяUA&raquo; та/або &laquo;АгроUA&raquo;, &laquo;БухгалтеріяUA. Тематичний збірник&raquo;. Зарахування щодо таких запитань факту використання Послуги в рамках оплаченого Абонемента можливе лише в разі, якщо Консультант здійснив зворотній дзвінок Клієнту та надав Послугу.</p>
            
            <p style="text-align:justify"><strong>5. </strong>Щодо цих Правил діють принципи застосування договору публічної оферти (публічного договору) відповідно до норм ст.ст.633, 641 Цивільного кодексу України:</p>
            
            <p style="text-align:justify"><strong>5.1. </strong>умови надання Послуг однакові для всіх Клієнтів незалежно від статусу (фізична особа, юридична особа, фізична особа &ndash; підприємець, філія, представництво або інший відокремлений підрозділ юридичної особи);</p>
            
            <p style="text-align:justify"><strong>5.2. </strong>правила містять усі істотні умови організації роботи Сервісу ОК;</p>
            
            <p style="text-align:justify"><strong>5.3. </strong>повним і беззаперечним прийняттям умов цих Правил, тобто публічної оферти Надавача Послуг, є факт оформлення Клієнтом Абонемента та оплати ним вартості Абонемента в розмірі 100%.</p>
            
            <p style="text-align:justify"><strong>6. </strong>Надавач Послуги має право змінити ціну Абонемента за умови попередження про це чинних та потенційних Клієнтів на вебсторінці: <a href="https://callme.buh-ua.com.ua"><u><span style="color:blue">https://callme.buh-ua.com.ua</span></u></a><span style="color:blue">.</span> Попередження зареєстрованих та чинних Клієнтів може відбуватися й у інший спосіб (телефоном, електронною поштою тощо). Зміна ціни поширюється на придбання Абонемента з дня такої зміни і не дає права чинним Клієнтам вимагати від Надавача Послуги повернення різниці в ціні у разі її зменшення, так само як і не дає права Надавачу Послуги вимагати від чинних Клієнтів сплати різниці в ціні у разі її збільшення.</p>
            
            <p style="text-align:justify"><strong>7.</strong> Надавач Послуги має право запроваджувати і використовувати промокоди, які надають право чинним або потенційним Клієнтам на отримання однієї, двох або більше Послуг без сплати за Абонемент. Порядок надання таких промокодів встановлюється і змінюється Надавачем Послуги на власний розсуд. На надання Послуги на підставі промокоду поширюються норми п.п. 3, 5, 8-11 цих Правил.</p>
            
            <p style="text-align:justify"><strong>8. </strong>Сторони правовідносин, передбачених цими Правилами, відповідають за невиконання або неналежне виконання умов своїх обов&rsquo;язків в порядку, передбаченому цими Правилами і чинним законодавством України.</p>
            
            <p style="text-align:justify"><strong>9. </strong>У разі настання обставин непереборної сили (форс-мажорних обставин) Сторони звільняються від виконання умов цих Правил. Під обставинами непереборної сили розуміються події, що мають надзвичайний, невідворотний, непередбачуваний характер, які виключають або об&rsquo;єктивно перешкоджають виконанню цих Правил, настання яких Сторони не могли передбачити й не могли запобігти їх настанню розумними засобами.</p>
            
            <p style="text-align:justify"><strong>10. </strong>Інформація, що надається Клієнтом Надавачу Послуги, є конфіденційною. Продавець використовує інформацію про Клієнта винятково з метою виконання цих Правил. Оплатою Абонемента Клієнт підтверджує, що надає Надавачу Послуги усі передбачені чинним законодавством дозволи на обробку персональних даних Клієнта та/або його посадових (службових) осіб, що звертаються за Послугою. Дозвіл на обробку персональних даних діє протягом усього строку, який відповідно до чинного законодавства необхідний для забезпечення умов цих Правил.</p>
            
            <p style="text-align:justify"><strong>11. </strong>У випадках, не передбачених цими Правилами, Сторони керуються чинним законодавством України.</p>
            

        </div>

        <div class="uk-modal-footer uk-text-right">
            <button class="uk-button uk-button-primary uk-modal-close uk-border-pill" type="button">OK</button>
        </div>

    </div>
</div>